// to be used for horizontal indentation
$globalPaddingMobile: 15;
$globalPaddingDesktop: 85;

// to be used for top page indentation
$menuHeightDesktop: 170;
$menuHeightMobile: 80;

// TODO set mobile value
$projectHeight: 530;
$projectPadding: 80;