@import '@/styles/shared-imports.scss';

.footer {
  display: flex;
  gap: rem(50);
  justify-content: space-between;
  align-items: center;
  background: var(--color-shark);
  color: var(--color-white-lilac);
  padding: 0 rem($globalPaddingMobile);
  height: rem($footerHeightMobile);
  position: relative;

  @include above('desktop') {
    gap: initial;
    padding: 0 vw($globalPaddingDesktop);
    height: vw($footerHeightDesktop);
  }
}

.content {
  display: flex;
  gap: rem(20);

  @include above('desktop') {
    gap: vw(20);
  }
}

.title {
  display: none;
  font-size: rem(12);

  @include above('desktop') {
    display: initial;
    font-size: vw(18);
  }
}

.underscore {
  display: none;

  @include above('desktop') {
    display: initial;
    color: var(--color-radical-red);
  }
}

.copyright {
  font-size: rem(12);

  @include above('desktop') {
    font-size: vw(18);
  }
}
