@import '@/styles/shared-imports.scss';

.portfolio {
  margin-top: calc(100dvh - vw($menuHeight));
  background: var(--color-woodsmoke);
  position: relative;
  color: var(--color-white-lilac);
  padding: vw(180) vw($globalPaddingDesktop);
  overflow: hidden;
}

.titleWrapper {
  position: absolute;
  top: -2%;
  left: 15%;
}

.title {
  color: transparent;
  font-size: vw(220);
  font-weight: 700;
  letter-spacing: vw(3);
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
  user-select: none;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: vw(150);
  justify-content: space-between;
}
