@import '@/styles/shared-imports.scss';

.hero {
  @include position-fit();

  height: rem(270);
  background-image: url(../../../assets/images/project-header-bg.jpg);
  background-size: cover;
  padding: rem($menuHeightMobile) rem($globalPaddingMobile) rem(20);
  color: var(--color-white-lilac);
  display: flex;
  align-items: flex-end;

  &::before {
    @include position-fit();

    content: '';

    background: rgba(0, 0, 0, 0.8);
  }

  @include above('desktop') {
    height: vw(434);
    padding: vw($menuHeightDesktop) vw($globalPaddingDesktop) vw(40);
  }
}

.content {
  position: relative;
  line-height: 1;
}

.title {
  font-size: rem(35);
  font-weight: 700;

  word-break: break-word;

  @include above('desktop') {
    font-size: vw(100);
  }
}

.list {
  display: flex;
  align-items: center;
  gap: rem(15);
  font-size: rem(14);
  margin-top: rem(15);

  @include above('desktop') {
    gap: vw(20);
    font-size: initial;
    margin-top: vw(30);
  }
}

.slash {
  color: var(--color-gray);
}

.item {
  &:not(:first-child) {
    word-break: break-word;
  }

  &:not(:last-child) {
    color: var(--color-radical-red);
  }
}
