@import '@/styles/shared-imports.scss';

.hero {
  @include position-fit();

  height: vw(434);
  background-image: url(../../../assets/images/project-header-bg.jpg);
  background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  padding: 0 vw($globalPaddingDesktop);
  color: var(--color-white-lilac);
  display: flex;
  align-items: center;

  &::before {
    @include position-fit();

    content: '';

    background: rgba(0, 0, 0, 0.8);
  }
}

.content {
  position: relative;
}

.title {
  font-size: vw(100);
  font-weight: 700;
}

.list {
  display: flex;
  gap: vw(20);
}

.slash {
  color: var(--color-gray);
}

.item {
  &:not(:last-child) {
    color: var(--color-radical-red);
  }
}
