@import '@/styles/shared-imports.scss';

.social {
  &.standard {
    @include flex-center(column);

    gap: vw(20);
    position: absolute;
    bottom: vw(40);
    left: vw(40);
  }

  &.alternate {
    @include flex-center();

    gap: vw(20);
  }
}

.link {
  @include max-prop(height, rem(18), vw(18));
  @include max-prop(width, rem(18), vw(18));

  overflow: hidden;
}

.wrapper {
  @include flex-center(column);
  @include transition;

  transition-property: color, transform;
  position: relative;

  &:hover {
    transform: translateY(-100%);
    color: var(--color-radical-red);
  }
}

.icon {
  &.last {
    position: absolute;
    top: 100%;
    left: 0;
  }
}
