/*
* Breakpoint wider than breakpoint (INCLUSIVE)
*
* @example
* @include above('desktop') { color: hotpink; }
*
*/
/*
* Breakpoint more narrow than breakpoint (EXCLUSIVE)
*
* @example
* @include under('desktop') { color: hotpink; }
*
*/
/*
* Breakpoint for pointer-enabled device
*/
/*
* Breakpoint for touch-enabled device
*/
/*
* Breakpoint for portrait orientation
*/
/*
* Breakpoint for landscape orientation
*/
/*
* Breakpoint for minimum viewport aspect ratio
* Note: $aspect needs to be passed as string:
*   - `@include isMinAspect(${4/3}) { ... }`
*   - `@include isMinAspect('4/3') { ... }`
*/
/*
* Breakpoint for maximum viewport aspect ratio
* Note: $aspect needs to be passed as string:
*   - `@include isMaxAspect(${4/3}) { ... }`
*   - `@include isMaxAspect('4/3') { ... }`
*/
/*
* Use nested styles only if reduced motion requested
*/
/*
* Use nested styles unless reduced motion is requested
*/
/*
* Safari only
*/
:root {
  --ease-cubic: cubic-bezier(0.66, 0, 0.34, 1);
  --ease-cubic-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-cubic-out: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-cubic-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-circ-in: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --ease-circ-out: cubic-bezier(0.075, 0.82, 0.165, 1);
  --ease-circ-in-out: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  --ease-expo-in: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-expo-out: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-expo-in-out: cubic-bezier(1, 0, 0, 1);
  --ease-quad-in: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-quad-out: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-quad-in-out: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-quart-in: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-quart-out: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-quart-in-out: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-quint-in: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-quint-out: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-quint-in-out: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-sine-in: cubic-bezier(0.47, 0, 0.745, 0.715);
  --ease-sine-out: cubic-bezier(0.39, 0.575, 0.565, 1);
  --ease-sine-in-out: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  --ease-back-in: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --ease-back-out: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --ease-back-in-out: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  --ease-back-out-more: cubic-bezier(0.56, 0.91, 0.465, 1.65);
}

:root {
  --vw: 1vw;
  --vh: 1vh;
  --breakpoint-medium: 600px;
  --breakpoint-desktop: 900px;
  --breakpoint-large: 1400px;
  --color-white: #fff;
  --color-white--rgb: 255, 255, 255;
  --color-black: #000;
  --color-black--rgb: 0, 0, 0;
  --color-gray: #848484;
  --color-gray--rgb: 132, 132, 132;
  --color-radical-red: #ff3366;
  --color-radical-red--rgb: 255, 51, 102;
  --color-white-lilac: #f6f7fb;
  --color-white-lilac--rgb: 246, 247, 251;
  --color-woodsmoke: #171819;
  --color-woodsmoke--rgb: 23, 24, 25;
  --color-shark: #1b1d22;
  --color-shark--rgb: 27, 29, 34;
  --color-mine-shaft: #333;
  --color-mine-shaft--rgb: 51, 51, 51;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 0.9375vw;
  font-size: max(1.125rem,  0.9375vw);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

::-moz-selection {
  background: var(--color-radical-red);
  color: var(--color-white-lilac);
}

::selection {
  background: var(--color-radical-red);
  color: var(--color-white-lilac);
}/*# sourceMappingURL=styles.css.map */