@import '@/styles/shared-imports.scss';

.backToTop {
  @include transition;

  transition-property: transform;
  transform: scale(0);
  background: var(--color-radical-red);
  position: fixed;
  bottom: rem(70);
  right: rem(10);
  border-radius: 50%;
  z-index: z('above');
  overflow: hidden;
  border: 1px solid var(--color-white-lilac);
  color: var(--color-white-lilac);
  height: rem(40);
  width: rem(40);

  &:active {
    color: var(--color-white-lilac);
  }

  &.isOpen {
    transform: scale(1);
  }

  @include above('desktop') {
    bottom: vw(40);
    right: vw(40);
    height: vw(50);
    width: vw(50);
  }
}

.wrapper {
  @include flex-center(column);

  position: relative;
  height: 100%;
  width: 100%;

  @include isHoverable {
    @include transition;

    transition-property: transform;

    .backToTop:hover & {
      transform: translateY(-100%);
    }
  }
}

.icon {
  height: 100%;

  &.last {
    display: none;

    @include above('desktop') {
      display: initial;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
