@import '@/styles/shared-imports.scss';

.main {
  margin-top: rem(270 - $menuHeightMobile);
  padding: rem(50) rem($globalPaddingMobile);
  color: var(--color-mine-shaft);

  @include above('desktop') {
    margin-top: vw(434 - $menuHeightDesktop);
    padding: vw(120) vw($globalPaddingDesktop);
  }
}
