@import '@/styles/shared-imports.scss';

.RichTextAbout {
  .paragraph {
    margin-top: rem(30);
    font-size: rem(14);
    line-height: 2;
    font-weight: 500;

    @include above('desktop') {
      padding-left: vw(215);
      margin-top: vw(64);
      font-size: vw(35);
    }
  }

  .highlight {
    color: var(--color-white-lilac);
    font-weight: 700;
    width: calc(100%);
    background-image: linear-gradient(transparent 0, var(--color-radical-red) 0);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: bottom;

    @include isHoverable {
      @include transition;

      color: var(--color-woodsmoke);
      transition-property: color, background-size;
      background-size: 100% 10%;

      &:hover {
        color: var(--color-white-lilac);
        background-size: 100% 100%;
      }
    }
  }
}
