@import '@/styles/shared-imports.scss';

.cardWrapper {
  @include above('desktop') {
    perspective: vw(1500);
  }
}

.card {
  position: relative;

  @include isHoverable {
    @include transition;

    transition-property: transform;

    &:hover {
      transition-duration: 0.15s;
    }
  }
}

.imageWrapper {
  width: rem(270);
  height: rem(346);

  @include above('desktop') {
    width: vw(440);
    height: vw(564);
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 50%;
  left: -10%;
  transform: translateY(-50%);

  @include above('desktop') {
    left: -20%;
  }
}

.title {
  font-weight: 700;
  font-size: rem(25);
  margin-bottom: rem(15);

  @include above('desktop') {
    font-size: vw(45);
    margin-bottom: vw(15);
  }
}

.tags {
  text-transform: uppercase;
  font-size: rem(12);
  letter-spacing: rem(2);

  @include above('desktop') {
    font-size: vw(12);
    letter-spacing: vw(2);
  }
}

.dash {
  display: none;

  @include above('desktop') {
    display: initial;
    color: var(--color-radical-red);
  }
}

.tag {
  display: block;
  color: var(--color-radical-red);

  width: calc(100%);
  background-image: linear-gradient(transparent 0, var(--color-radical-red) 0);
  background-repeat: no-repeat;
  background-size: 100% 10%;
  background-position: bottom left;

  &:not(:first-child) {
    margin-top: rem(15);
  }

  @include isHoverable {
    @include transition;

    display: initial;
    color: var(--color-white-lilac);
    margin-top: initial;
    transition-property: color, background-size;
    background-size: 0% 10%;

    &:hover {
      color: var(--color-radical-red);
      background-size: 100% 10%;
    }
  }
}

.buttonWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 5%;
  right: -10%;

  @include above('desktop') {
    bottom: 10%;
    right: initial;
    left: 90%;
  }
}

.line {
  width: rem(60);
  height: 1px;
  background: var(--color-radical-red);

  @include isHoverable {
    @include transition;

    background: var(--color-white-lilac);
    transition-property: background;
    width: vw(60);

    .card:hover & {
      background: var(--color-radical-red);
    }
  }
}

.button {
  height: rem(38);
  padding: 0 rem(20);
  text-transform: uppercase;
  font-size: rem(12);
  position: relative;
  white-space: nowrap;

  @include isHoverable {
    @include transition;

    transition-property: color;
    height: vw(38);
    padding: 0 vw(20);
    font-size: vw(12);

    .buttonWrapper:hover & {
      color: var(--color-radical-red);
    }
  }
}

.border {
  background: var(--color-radical-red);
  position: absolute;

  &.leftBottom {
    top: 50%;
    left: 0;
    bottom: 0;
    width: 1px;
  }

  &.bottom {
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
  }

  &.right {
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
  }

  &.top {
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
  }

  &.leftTop {
    top: 0;
    left: 0;
    bottom: 50%;
    width: 1px;
  }

  @include isHoverable {
    &.leftBottom {
      transform: scaleY(0);
      transition: transform 0.1s 0.4s;
      transform-origin: top;

      .card:hover & {
        transform: scaleY(1);
        transition-delay: 0s;
      }
    }

    &.bottom {
      transform: scaleX(0);
      transition: transform 0.1s 0.3s;
      transform-origin: left;

      .card:hover & {
        transform: scaleX(1);
        transition-delay: 0.1s;
      }
    }

    &.right {
      transform: scaleY(0);
      transition: transform 0.1s 0.2s;
      transform-origin: bottom;

      .card:hover & {
        transform: scaleY(1);
        transition-delay: 0.2s;
      }
    }

    &.top {
      transform: scaleX(0);
      transition: transform 0.1s 0.1s;
      transform-origin: right;

      .card:hover & {
        transform: scaleX(1);
        transition-delay: 0.3s;
      }
    }

    &.leftTop {
      transform: scaleY(0);
      transition: transform 0.1s 0s;
      transform-origin: top;

      .card:hover & {
        transform: scaleY(1);
        transition-delay: 0.4s;
      }
    }
  }
}
