@import '@/styles/shared-imports.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: vw(110);
  padding: 0 vw(40);
  color: var(--color-white-lilac);
  position: relative;
  z-index: z('menu');
}

.logo {
  @include max-prop(font-size, rem(30), vw(30));

  font-weight: 400;
  letter-spacing: vw(2);
  z-index: z('above');
}

.slash {
  color: var(--color-radical-red);
}

.button {
  @include max-prop(font-size, rem(18), vw(18));

  text-transform: uppercase;
  letter-spacing: vw(4);
  font-weight: 400;
  display: flex;
  gap: vw(30);
  align-items: center;
  z-index: z('above');

  &:hover {
    color: var(--color-radical-red);
  }
}

.buttonTexts {
  position: relative;
}

.buttonText {
  opacity: 0;
  transition: 0.3s ease-in-out 0.1s;
  transition-property: opacity, color;

  &.menuText {
    position: absolute;
    top: 0;
    right: 0;
  }

  &.isVisible {
    opacity: 1;
  }
}

.burger {
  width: vw(40);
  height: vw(20);
  position: relative;
}

.burgerLine {
  height: vw(3);
  background: var(--color-white-lilac);
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transition: 0.3s ease-in-out;
  transition-property: transform, width;

  &.first {
    transform: translateY(vw(-11));
    width: 75%;

    .button:hover & {
      width: 100%;
    }

    .button.isOpen & {
      transform: rotate(45deg);
      width: 100%;
    }
  }

  &.middle {
    .button.isOpen & {
      transform: scaleX(0);
    }
  }

  &.last {
    transform: translateY(vw(11));
    width: 75%;
    left: initial;
    right: 0;

    .button:hover & {
      width: 100%;
    }

    .button.isOpen & {
      transform: rotate(-45deg);
      width: 100%;
    }
  }

  .button:hover & {
    background: var(--color-radical-red);
  }
}

.nav {
  @include position-fit(fixed);
  @include flex-center();
  @include max-prop(font-size, rem(40), vw(40));

  font-weight: 600;
  pointer-events: none;

  &::before {
    @include position-fit();

    content: '';
    background: var(--color-black);
    opacity: 0;
    transform: translateY(-100%);
    transition: 0.3s ease-in-out;
    transition-property: opacity, transform;
  }

  &.isOpen::before {
    opacity: 1;
    transform: translateY(0);
  }

  &.isOpen {
    pointer-events: auto;
  }
}

.list {
  @include flex-center(column);

  gap: vw(20);
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  .nav.isOpen & {
    opacity: 1;
  }
}

.item {
  transition: color 0.3s ease-in-out;

  &:hover {
    color: var(--color-radical-red);
  }
}
